[submodule "CmdGoogle"]
	path = CmdGoogle
	url = https://github.com/Neonalig/CmdGoogle
[submodule "CmdLGit"]
	path = CmdLGit
	url = https://github.com/Neonalig/CmdLGit
[submodule "CmdPlayRandom"]
	path = CmdPlayRandom
	url = https://github.com/Neonalig/CmdPlayRandom
[submodule "CmdWt"]
	path = CmdWt
	url = https://github.com/Neonalig/CmdWt
